:root {
  --primary-color: #01041f;
  --color: rgba(28, 193, 95, 1);

  --color-background: var(--primary-color);
  --color-background-soft: var(--secondary-color);
  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);
  --color-heading: var(--text-color);
  --section-gap: 160px;
  --nav-background-color: var(--primary-color);
  --secondary-text: #c0d7d9;
  --primary-card: rgba(25, 25, 25);
  --secondary-card: rgba(68, 148, 141, 1);
  --hover-color: rgba(25, 25, 25);
  --text-color: rgba(68, 148, 141, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgba(68, 148, 141, 1);
    --secondary-text: #099;
    --text-color: #16d287;
  }
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  background: var(--primary-color);
  transition:
    background 0.5s ease,
    color 0.5s ease;
  line-height: 1.6;
  scroll-behavior: smooth;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-mouse {
  --primary-color: #0ee3f4;
  --secondary-color: #fffccc;
}

.dark-mouse {
  --primary-color: #16d287;
  --secondary-color: #fff;
}

.light-about {
  --primary-color: linear-gradient(
    183deg,
    rgba(8, 126, 217, 0.61) 0%,
    rgba(157, 507, 150, 0.41) 100%
  );
  --title-text: #160ee3;
  --description-text: #160ee3;
  --card-text: #ffc0a9;
  --hover-color: linear-gradient(183deg, rgba(8, 126, 217, 0.8) 0%, rgba(157, 507, 150, 0.8) 100%);
}

.dark-about {
  --primary-color: rgba(25, 25, 25, 0.8);
  --title-text: #cad8a8;
  --description-text: #f9cbba;
  --card-text: #ffc0a9;
  --hover-color: rgba(25, 25, 25, 0.95);
  --font: monospace;
}

.dark {
  --dark: grayscale(100%);
}
.light {
  --light: grayscale(1%);
}
.dark-cards {
  --card-color1: var(--primary-card);
  --card-color2: var(--primary-card);
  --card-color3: var(--primary-card);
  --card-header: #cad8a8;
  --card-text: #16d287;
}
.light-cards {
  --card-color1: var(--secondary-card);
  --card-color2: var(--secondary-card);
  --card-color3: var(--secondary-card);
  --card-header: #ffc;
  --card-text: #fff;
}
